* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

header {
  padding: 40px;
  text-align: center;
  background: #7aa516;
  color: #fff;
}


footer {
  padding: 20px;
  text-align: center;
  background: #7aa516;
  color: #fff;
  margin-top: auto;
}

.skills {
  display: flex;
  align-items: flex-start;
  width: 90%;
  margin: 1% auto;
}

.skills button {
  font-size: 150%;
}


.skills-details {
  margin-left: 3%;
  flex: 0 0 60%;
}

@media screen and (max-width: 768px) {
  main,
  .skills {
    flex-direction: column;
  }

  

  .skills-details {
    margin-left: 0;
  }
}
