* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
  }
  
  .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #02144e;
    color: #fff;
  }
  .main-header .name{
    background: #8ac4ff;
    font-size: 60px;
    padding: 14px 20px;
  }
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  nav a {
    color:rgb(27, 140, 185);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    
  }
  .introduction {
    
      display: block;
      position: relative
    }
     
  
  .overlay-3{
    display: flex ;
    flex-direction: column;
    position: absolute;
    line-height: 2em;
    text-align: center;
    align-items:center;
    justify-content:center;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
 

section{
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8a47f;
}

  .about-me{
      display: flex;
      
    }
   .about-me-2 {
        display: flex;
      flex-wrap: wrap;
      padding: 10px;
      width: 100%;
      color: #fff;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
       
      }
    
       
    .overlay-1{
        display: flex;
        flex-direction: column;
        line-height: 2em;
        align-items: center;
        justify-content: center;
        color: #fff;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        
      }
     
    .text{
    font-weight: 500px;
      }
    .container{
    display: flex;
    }

  .row{
    flex-wrap: wrap;
    flex-direction: row;
   display: flex;
    position: relative;
    padding: 10px;
   width: 100%;
   color: #fff;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
  }

  .column{
  flex:1;
  position: relative;
  padding: 10px;
  width: 100%;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  }
  .image{
      display: block;
      width: 100%;
    }

  .overlay{
    background-color:rgba(0, 0, 255, 0.7);
    display: flex;
    flex-direction: column;
    position: absolute;
    line-height: 2em;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
  }

  .overlay:hover{
    background-color: rgba(237, 245, 239, 0);
  }

  .text{
font-weight: 500px;
  }

  .left{
  display: flex;
  font-size: 40px;
  font-weight: lighter; 
  width: 20%;
  height: 100%;
  align-items:flex-start;
  justify-content: right;
  padding: 10px;
  margin: 100px;
  margin-bottom: 10px;
  border-right: 1px solid #070606;
  margin-left: 20px;
  }

  .skills header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }

  #project{
    color: #000;
  }
 
  .contact-me{
    display: flex;
  }
  .contact-me-2 {
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      width: 100%;
      color: #fff;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px; 
    }

  .overlay-1{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; 
    }
   
  .text{
  font-weight: 500px;
    }
    
  .contact-me header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  .contact-me nav{
    display: flex;
    background-color: #d8a47f;
    justify-content:space-between;
  }
  .contact-me nav a {
    color:#fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    list-style: none;
  }

  button {
    width: 250px;
    margin: 0 .5%;
    font-size: 200%;
    color: #13293d;
    background-color: #fff;
    border: 3px solid #13293d;
  }
  
  button:hover {
    background-color: #772014;
    color: #fff;
  }
  
  button:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
  }
  
  button:focus {
    outline: none;
    border-color: #8ac4ff;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #02144e;
    color: #fff;
  }
